.file {
    margin-top: 8px;
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr auto;
    gap: 16px;
    .text {
        display: flex;
        align-items: center;
    }
    .title {
        font-weight: bold;
    }
}