.page {
    display: grid;
    gap: 20px;

    &.width-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    &.width-2 {
        grid-template-columns: 1fr 1fr;
    }
    &.width-1 {
        grid-template-columns: 1fr;
    }
    .info {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        border-radius: 5px;
        background-color: var(--teachu-grey);

        .image {
            width: 100%;
        }
        .creator {
            font-weight: bold;
            margin-bottom: 16px;
        }
        .title {
            font-weight: bold;
            font-size: 20px;
        }
        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &.important {
            background-color: var(--teachu-primary);
            color: var(--teachu-white);
        }
        .mat-icon {
            font-size: 40px;
            margin-right: 16px;
        }
    }
}
