<div *ngIf="schoolInfos$ | async as schoolInfos" [ngClass]="{ 'page': true }">
  <div *ngFor="let info of schoolInfos" [ngClass]="{ 'info': true, 'important': info.important }">
    <div class="header">
      <div class="text">
        <div class="creator">{{ info.creator.firstName + ' ' + info.creator.lastName + ': ' + (info.date | date: 'dd.MM.yyyy') }}</div>
        <div class="title">{{ info.title }}</div>
      </div>
      <mat-icon *ngIf="info.pinned" class="mat-icon">bookmark</mat-icon>
    </div>
    <div>{{ info.message }}</div>
    <app-image *ngIf="info.imageId" [imageId]="info.imageId"></app-image>
  </div>
</div>
