<ng-container *ngIf="absences && absences.length > 0 else noAbsences">
    <div class="absence-container">
        <div *ngFor="let absence of absences; index as i" [id]="ABSENCE_ELEMENT_ID_BASE + i" class="absence">
            <div class="absence-body">
                <app-absence-visualisation *ngIf="!editMode"
                                          [absence]="absence"
                                          [isParent]="isParent"
                                          (editAbsence)="editMode = true">
                </app-absence-visualisation>
                <app-absence-editor *ngIf="editMode"
                                    (exit)="doneEditing($event)"
                                    [absence]="absence">
                </app-absence-editor>
            </div>

            <div *ngIf="!isLastOfMap(i) else emptyAbsenceFooter" class="absence-footer" (click)="scrollToNextAbsence(i)">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <ng-template #emptyAbsenceFooter>
                <div style="height: 50px;"></div>
            </ng-template>
        </div>
    </div>
</ng-container>
<ng-template #noAbsences>
<!--    ngIf is because i don't want to show the image just because the page is loading
(maybe implement loader some time)-->
    <div class="no-absence-container" *ngIf="absences">
        <h2>{{ "absences.noAbsences" | translate }}</h2>
        <img src="assets/images/two-people-dancing.svg" alt="🎉" />
    </div>
</ng-template>