@import 'src/styles/colors';

.floating-add-container{
    z-index: 9999;
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 40px;
}

.absence-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 30px;

    overflow-y: auto;
    scroll-snap-type: y mandatory;

    .absence {
        display: block;
        box-sizing: border-box;
        width: 100%;
        scroll-snap-align: start;

        .absence-body{
            padding: 20px;
            background-color: var(--teachu-base-1);
            border-radius: 5px;
        }
    }
}

.no-absence-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    h2 {
        text-align: center;
    }

    img {
        max-width: 550px;
        width: 100%;
        height: auto;

        margin: 30px;
    }
}
