.info {
    display: grid;
    grid-template-columns: 120px 120px;
    :nth-child(2n) {
        font-weight: bold;
    }
    gap: 16px;
}
.questions {
    margin-top: 32px;
    padding-bottom: 32px;
}
.formAdd {
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    button {
        height: 36px;
    }
}
.space {
    margin-bottom: 32px;
}
.question {
    margin-bottom: 32px;
}