.head {
    display: grid;
    grid-template-columns: 1fr auto auto;
    margin-bottom: 8px;
    .search-bar {
        margin-top: -16px;
    }
}

.chat-overview-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}

.chat-overview-detail {
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    background-color: var(--teachu-base-1);
    border-radius: 5px;
    overflow: hidden;
    height: 48px;

    .chat-image {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    .chat-middle-section {
        display: flex;
        align-items: center;
        .chat-title {
            font-size: 16px;
            font-weight: bold;
        }

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .chat-last-msg-date {
        margin-left: auto;
        margin-right: 10px;
    }
}
