@import 'src/styles/_colors.scss';

.nav{
  color: var(--teachu-base-5);
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  height: 100%;
  overflow-x: hidden;

  .child {
    margin-left: 20px;
  }
  .margin-top-2 {
    margin-top: 2px;
  }
}
