.drawing.active {
    border: 1px solid var(--teachu-primary);
}
.active-page {
    display: block;
    height: 600px;
    width: 600px;
    border-radius: 4px;
    border: 1px solid var(--teachu-black);
}
.site {
    display: grid;
    grid-template-columns: 600px 240px;
    gap: 32px;
}
.drawing {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 4px;
    border: 1px solid var(--teachu-black);
    .drawing-image {
        height: 100px;
        width: 100px;
        object-fit: cover;
    }
}
.page {
    display: grid;
    grid-template-columns: 100px 40px;
    gap: 16px;
    margin-top: 16px;
}
.action-bar {
    display: grid;
    grid-template-columns: 1fr;
}
.action {
    margin-left: 4px;
    display: block;
    height: 33px;
    width: 33px;
}
.pointer {
    cursor: pointer;
}
.header {
    .slide {
        margin-top: 4px;
    }
    display: flex;
    gap: 32px;
}
.page-collection {
    height: 600px;
    max-height: 600px;
    overflow-y: scroll;
}
.add-page {
    width: 150px;
}
.action.profile-image {
    margin-left: 0;
    img {
        border-radius: 50%;
        width: 33px;
        height: 33px;
        object-fit: cover;
    }
}
.empty-image,
.active-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--teachu-light-white);
    color: var(--teachu-light-black);
}
.hidden {
    display: none;
}
.active-image-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--teachu-light-black);
}
.color-picker,
.mode-picker {
    display: flex;
    gap: 8px;
    width: 180px;
    margin-top: 4px;
}
.step-button {
    margin-top: -8px;
}