@import 'src/styles/_colors.scss';

.student-view-container{
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 150px auto;
  grid-template-columns: auto;

  .student-header{
    width: inherit;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;

    box-sizing: border-box;

    .student-recent-exams {
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: repeat(auto-fill, min(200px));
      grid-auto-flow: column;
      grid-auto-columns: min(200px);
      gap: 10px;

      box-sizing: border-box;
      overflow-x: auto;

      .student-recent-exam{
        margin: 5px;
        padding: 10px;

        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;

        background-color: var(--teachu-primary);
        border-radius: 10px;

        .text-container {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;

          .exam-title {
            color: var(--teachu-white);
            width: calc(100% - 40px);
            font-size: 20px
          }

          .exam-grade {
            color: var(--teachu-accent);
            width: 40px;
            font-weight: bold;
            text-align: center;
            font-size: 25px
          }

          .exam-date {
            color: var(--teachu-grey-darker);
            font-style: italic;
          }
        }
      }
    }
  }

  .student-content{

  }
}