<div class="student-view-container">
    <div class="student-header">
        <app-recent-exams [recentExams]="lastExams"></app-recent-exams>
    </div>
    <div [className]="classSelected ? 'student-content' : 'student-content-collapsed'">
        <div class="class-menu-tree">
            <app-menu-tree (leaveClickedEvent)="menuTreeLeaveClicked($event)"
                           [treeData]="examMenuTree">
            </app-menu-tree>
        </div>
        <app-class-grades [classSelected]="classSelected" [selectedSubject]="selectedSubject" ></app-class-grades>
    </div>
</div>
