<div class="head">
    <h2 *ngIf="isWeekView$ | async">{{ 'timetable.weekFrom' | translate }} {{ (startDate$ | async) | date:'dd.MM.yyyy' }} - {{ (endDate$ | async) | date:'dd.MM.yyyy' }}</h2>
    <h2 *ngIf="!(isWeekView$ | async)">{{ (relevantDate$ | async) | date:'dd.MM.yyyy' }}</h2>
    <div>
        <button (click)="changeRelevantDate(-1)" mat-icon-button>
            <mat-icon>chevron_left</mat-icon>
        </button>
        <button (click)="changeRelevantDate(1)" mat-icon-button>
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>
<div *ngIf="getLessons$() | async as lessons" [ngClass]="{ calendar: true, week: (isWeekView$ | async) }">
    <div *ngIf="getLessonsInfo$() | async as hours">
        <div>
            <div class="block date"></div>
            <div *ngFor="let hour of hours" class="block hour">
                {{ hour.start }} - {{ hour.end }}
            </div>
        </div>
        <div *ngFor="let day of (dates$ | async)" class="day hours">
            <div class="block date">
                <div [ngClass]="{ today: isToday(day), dateInfo: true }">
                    {{ day | date: 'dd.MM.yyyy' }}
                </div>
            </div>
            <div *ngFor="let hour of hours" class="block hour">
                <!-- <div *ngIf="getCorrespondingLesson(lessons, day, hour.timetableId) as lesson" class="lesson" [ngStyle]="{ 'background-color': getColor(lesson, lessons), 'color': getFontColor(getColor(lesson, lessons)) }"
                [matTooltip]="lesson.lessons + ' - ' + lesson.room + ' - ' + lesson.teacher" matTooltipPosition="right"
                (click)="openDetails(lesson)">
                    {{ lesson.subject }}
                </div> -->
            </div>
        </div>
    </div>    
</div>