<h1>{{ 'timetable.timetable' | translate }}</h1>
<mat-tab-group mat-align-tabs="start">
    <mat-tab [label]="'timetable.today' | translate">
        <app-timetable-today [lessons]="(getLessonsToday$() | async) ?? []"></app-timetable-today>
    </mat-tab>
    <mat-tab [label]="'timetable.calendar' | translate">
        <app-timetable-calendar (changeRelevantDate)="changeRelevantDate($event)" [lessons]="(getLessonsWeek$() | async) ?? []" [startDate]="getStartDate()" [endDate]="getEndDate()"></app-timetable-calendar>
    </mat-tab>
</mat-tab-group>