.head {
    margin-top: 16px;
    display: flex;
    :last-child {
        margin-left: auto;
    }
}

.calendar {
    display: grid;
    grid-template-columns: 100px 1fr;
    border: 1px solid var(--teachu-black);
    .day {
        border-left: 1px solid var(--teachu-black);
    }
    .block.first-line {
        height: 100px;
    }
    .block {
        height: 64px;
        box-sizing: border-box;
    }
    .hour {
        border-top: 1px dotted var(--teachu-black);
    }
    .date,
    .hour {
        padding: 4px;
    }
    .date,
    .hour,
    .lesson-subject,
    .event-info,
    .dateInfo,
    .lesson {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lesson {
        font-size: 12px;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        font-size: 12px;
        text-align: center;
        flex-direction: column;
        cursor: pointer;
        padding-top: 4px;
        gap: 4px;
    }
    .dateInfo {
        height: 100%;
        width: 100%;
        border-radius: 4px;
        gap: 0;
        flex-direction: column;
    }
    .today {
        background-color: var(--teachu-warn);
    }
}

.calendar.week {
    grid-template-columns: repeat(8, 1fr);
    > .day:nth-last-of-type(-n+2) {
        .hour {
            background-color: var(--teachu-grey);
        }
    }
}
.block.hour.info {
    display: grid;
    grid-template-columns: 1fr;
    div {
        display: flex;
        justify-content: center;
    }
}
.block.hour.info .divider {
    margin-top: -10px;
    margin-bottom: -10px;
}
.pointer {
    cursor: pointer;
}
.event-info-icon {
    margin-top: 9px;
}