<ng-container *ngIf="navBarItem$ | async as navBarItem">
    <div class="menu-items">
        <ng-container *ngFor="let item of navBarItem.rootElements">
            <button mat-button class="layer-1" (click)="navigate(item.url)">
                <ng-container *ngIf="item.translation; else translated">
                    {{ item.translation }}
                </ng-container>
                <ng-template #translated>
                    {{ (item.translationKey ?? '') | translate }}
                </ng-template>
            </button>
            <button mat-button *ngFor="let childItem of item.children" class="layer-2" (click)="navigate(childItem.url)">
                <ng-container *ngIf="childItem.translation; else translated">
                    {{ childItem.translation }}
                </ng-container>
                <ng-template #translated>
                    {{ (childItem.translationKey ?? '') | translate }}
                </ng-template>
            </button>
        </ng-container>
    </div>
</ng-container>