.grade-detail-container{
    word-break: break-word;

    margin-top: 20px;
    background-color: var(--teachu-base-1);
    padding: 20px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .header{
        display: grid;
        grid-template-rows: 60px;
        grid-template-columns: 65% 35%;
        align-items: center;

        .header-container{
            display: flex;
            flex-wrap: nowrap;
            gap: 10px;
            font-weight: bold;
        }
    }

    .data-header {
        font-size: 15px;
        font-style: italic;
    }

    .data-value {
        font-size: 18px;
        display: block;
        padding: 10px;
    }

    .icon-data-container{
        margin: 10px 0;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;

        .icon-data{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 5px;
            justify-content: center;
            align-items: center;

            margin: 5px;
            padding: 5px;
            border-radius: 3px;
            width: 125px;

            background-color: var(--teachu-secondary-1);
        }
    }

    #mark{
        background-color: var(--teachu-primary-4);
        color: var(--teachu-base-0);
        font-size: 25px;
        font-weight: bold;
        min-width: 60px;
        text-align: center;

        padding: 10px;
        border-radius: 5px;
    }
}
