@import 'src/styles.scss';

.settings-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    gap: 20px;

    #userData {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px;
    }

    #preferences {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px;
    }

    #changePassword {
        width: 100%;
    }

    #phoneNumberForm {
        width: 100%;
    }
}

#savedIcon{
    color: var(--teachu-accent);
}

@media (max-width: 800px) {
    .settings-container{
        grid-template-columns: 50% 50%;
        gap: 80px 0;
    }
}

@media (max-width: 550px) {
    .settings-container{
        grid-template-columns: 100%;
        gap: 80px 0;
    }
}
