<form [formGroup]="userForm" *showSpinner="isLoading">
    <mat-form-field>
        <mat-label>{{ "userSettings.email" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.email' | translate" formControlName="email">
    </mat-form-field>
    <button mat-button (click)="changePassword(userForm)">{{ 'userSettings.changePassword' | translate }}</button>
    <mat-form-field>
        <mat-label>{{ "userSettings.firstName" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.firstName' | translate" formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ "userSettings.lastName" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.lastName' | translate" formControlName="lastName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ "userSettings.birthday" | translate}}</mat-label>
        <input required matInput [matDatepicker]="birthday" formControlName="birthday">
        <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
        <mat-datepicker #birthday></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ "userSettings.sex" | translate }}</mat-label>
        <mat-select required formControlName="sex">
            <mat-option *ngFor="let sex of sexs" [value]="sex.value">
                {{ ('userSettings.' + sex.key) | translate }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <app-language-lookup></app-language-lookup>
    <mat-slide-toggle (change)="changeDarkTheme(userForm.value.darkTheme)" formControlName="darkTheme">{{ 'userSettings.darkTheme' | translate }}</mat-slide-toggle>
    <mat-form-field>
        <mat-label>{{ "userSettings.city" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.city' | translate" formControlName="city">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ "userSettings.postalCode" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.postalCode' | translate" formControlName="postalCode">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ "userSettings.street" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.street' | translate" formControlName="street">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ "userSettings.phone" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.phone' | translate" formControlName="phone">
    </mat-form-field>
    <mat-form-field>
        <ngx-mat-file-input [placeholder]="'userSettings.profileImg' | translate" formControlName="profileImg" accept=".png, .jpg">
        </ngx-mat-file-input>
        <mat-icon matSuffix aria-hidden="false">attach_file</mat-icon>
    </mat-form-field>
    <button mat-button [disabled]="!userForm.valid" (click)="saveUser(userForm)">{{ 'framework.save' | translate }}</button>
</form>