<div class="settings-container">

    <div id="preferences">
        <h2>{{ "userSettings.preferences" | translate }}</h2>
        <button mat-icon-button (click)="toggleDarkTheme()" >
            <mat-icon *ngIf="darkTheme">dark_mode</mat-icon>
            <mat-icon *ngIf="!darkTheme">light_mode</mat-icon>
        </button>

        <app-language-lookup style="width: 100%" (languageChanged)="saveLanguage($event)"></app-language-lookup>

        <form id="phoneNumberForm" [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>{{ "userSettings.phone" | translate}}</mat-label>
                <input matInput [placeholder]="'userSettings.phone' | translate" formControlName="phoneNumber">
                <mat-icon *ngIf="!showPhoneSaved" matSuffix>phone_iphone</mat-icon>
                <mat-icon id="savedIcon" *ngIf="showPhoneSaved" [matTooltip]="'userSettings.phoneSaved' | translate" matSuffix>verified</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'userSettings.grade' | translate }}</mat-label>
                <mat-select formControlName="grade">
                    <mat-option *ngFor="let grade of grades" [value]="grade.value">{{ ('Grade.' + grade.key) | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'userSettings.information' | translate }}</mat-label>
                <textarea formControlName="information" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'userSettings.goodSubject1' | translate }}</mat-label>
                <mat-select formControlName="goodSubject1">
                    <mat-option *ngFor="let subject of subjects" [value]="subject.value">{{ ('Subject.' + subject.key) | translate }}</mat-option>
                </mat-select>
                <mat-icon id="savedIcon" *ngIf="showPhoneSaved" matSuffix>verified</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'userSettings.goodSubject2' | translate }}</mat-label>
                <mat-select formControlName="goodSubject2">
                    <mat-option *ngFor="let subject of subjects" [value]="subject.value">{{ ('Subject.' + subject.key) | translate }}</mat-option>
                </mat-select>
                <mat-icon id="savedIcon" *ngIf="showPhoneSaved" matSuffix>verified</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'userSettings.goodSubject3' | translate }}</mat-label>
                <mat-select formControlName="goodSubject3">
                    <mat-option *ngFor="let subject of subjects" [value]="subject.value">{{ ('Subject.' + subject.key) | translate }}</mat-option>
                </mat-select>
                <mat-icon id="savedIcon" *ngIf="showPhoneSaved" matSuffix>verified</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'userSettings.badSubject1' | translate }}</mat-label>
                <mat-select formControlName="badSubject1">
                    <mat-option *ngFor="let subject of subjects" [value]="subject.value">{{ ('Subject.' + subject.key) | translate }}</mat-option>
                </mat-select>
                <mat-icon id="savedIcon" *ngIf="showPhoneSaved" matSuffix>verified</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'userSettings.badSubject2' | translate }}</mat-label>
                <mat-select formControlName="badSubject2">
                    <mat-option *ngFor="let subject of subjects" [value]="subject.value">{{ ('Subject.' + subject.key) | translate }}</mat-option>
                </mat-select>
                <mat-icon id="savedIcon" *ngIf="showPhoneSaved" matSuffix>verified</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'userSettings.badSubject3' | translate }}</mat-label>
                <mat-select formControlName="badSubject3">
                    <mat-option *ngFor="let subject of subjects" [value]="subject.value">{{ ('Subject.' + subject.key) | translate }}</mat-option>
                </mat-select>
                <mat-icon id="savedIcon" *ngIf="showPhoneSaved" matSuffix>verified</mat-icon>
            </mat-form-field>
        </form>

        <app-profile-pic-uploader buttonHeight="45px"
                                  buttonWidth="200px"
                                  [buttonLabel]="'userSettings.profileImage.profileImage'"
                                  [buttonText]="'userSettings.upload'"
                                  (done)="profileImageUploaded()">
        </app-profile-pic-uploader>
    </div>

    <div id="userData" class="user-data" *ngIf="user">
        <h2 style="text-align: center;">{{ "userSettings.userData" | translate }}</h2>
        <app-readonly-field [label]="'userSettings.email' | translate" [value]="user.email"></app-readonly-field>
        <app-readonly-field [label]="'userSettings.firstName' | translate" [value]="user.firstName"></app-readonly-field>
        <app-readonly-field [label]="'userSettings.lastName' | translate" [value]="user.lastName"></app-readonly-field>
        <app-readonly-field [label]="'userSettings.birthday' | translate" [value]="user.birthday | date:'dd.MM.yyyy'"></app-readonly-field>
        <app-readonly-field [label]="'userSettings.sex' | translate" [value]="('Sex.' + user.sex) | translate"></app-readonly-field>
        <app-readonly-field [label]="'userSettings.city' | translate" [value]="user.city"></app-readonly-field>
        <app-readonly-field [label]="'userSettings.postalCode' | translate" [value]="user.postalCode"></app-readonly-field>
        <app-readonly-field [label]="'userSettings.street' | translate" [value]="user.street"></app-readonly-field>
    </div>

    <div id="changePassword">
        <h2>{{ "userSettings.changePassword" | translate }}</h2>
        <app-change-password></app-change-password>
    </div>
</div>