<form [formGroup]="userForm" *showSpinner="isLoading">
    <app-readonly-field [label]="'userSettings.email' | translate" [value]="userForm.value.email"></app-readonly-field>
    <app-readonly-field [label]="'userSettings.firstName' | translate" [value]="userForm.value.firstName"></app-readonly-field>
    <app-readonly-field [label]="'userSettings.lastName' | translate" [value]="userForm.value.lastName"></app-readonly-field>
    <app-readonly-field [label]="'userSettings.birthday' | translate" [value]="userForm.value.birthday | date:'dd.MM.yyyy'"></app-readonly-field>
    <app-readonly-field [label]="'userSettings.sex' | translate" [value]="('Sex.' + userForm.value.sex) | translate"></app-readonly-field>
    <app-readonly-field [label]="'userSettings.city' | translate" [value]="userForm.value.city"></app-readonly-field>
    <app-readonly-field [label]="'userSettings.postalCode' | translate" [value]="userForm.value.postalCode"></app-readonly-field>
    <app-readonly-field [label]="'userSettings.street' | translate" [value]="userForm.value.street"></app-readonly-field>
    <app-language-lookup></app-language-lookup>
    <mat-form-field>
        <mat-label>{{ "userSettings.phone" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.phone' | translate" formControlName="phone">
    </mat-form-field>
    <mat-form-field>
        <!-- TODO: display existing file or change to button -->
        <ngx-mat-file-input [placeholder]="'userSettings.profileImage' | translate" [formControl]="profileImageControl" multiple="false" accept=".png, .jpg">
        </ngx-mat-file-input>
        <mat-icon matSuffix aria-hidden="false">attach_file</mat-icon>
    </mat-form-field>
    <mat-slide-toggle (change)="changeDarkTheme(userForm.value.darkTheme)" formControlName="darkTheme">{{ 'userSettings.darkTheme' | translate }}</mat-slide-toggle>
    <button mat-button color="primary" [disabled]="!userForm.valid" (click)="saveUser(userForm)">{{ 'framework.save' | translate }}</button>
    <button mat-button (click)="changePassword()">{{ 'userSettings.changePassword' | translate }}</button>
</form>