.classlist-table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}

.data-row {
    height: 55px;
    display: grid;
    cursor: pointer;
    grid-template-columns: 55px repeat(6, 1fr);
    align-items: center;
    padding: 10px;
}

.data-row:not(.header){
    border-radius: 10px;
    transition: 250ms all ease-out;
    background-color: var(--teachu-base-1);
}

.data-row:not(.header):hover{
    background-color: var(--teachu-base-2);
}

.header {
    font-weight: bold;
}

@media (max-width: 1200px) {
    .data-row{
        grid-template-columns: 55px repeat(5, 1fr);
        .sex{
            display: none !important;
        }
    }
}

@media (max-width: 800px) {
    .data-row{
        grid-template-columns: 55px repeat(4, 1fr);
        .city{
            display: none !important;
        }
    }
}

@media (max-width: 650px) {
    .data-row{
        grid-template-columns: 55px repeat(3, 1fr);
        .birthday{
            display: none !important;
        }
    }
}

@media (max-width: 520px) {
    .data-row{
        grid-template-columns: 55px repeat(2, 1fr);
        .email{
            display: none !important;
        }
    }
}

@media (max-width: 380px) {
    .data-row{
        grid-template-columns: repeat(2, 1fr);
        .image{
            display: none !important;
        }
    }
}
