<h2>{{ isTeacher ? (('classlist.teachers' | translate) + ' ' + className) : (('classlist.class' | translate) + ' ' + className) }}</h2>
<div class="data-row header">
    <div class="image"></div>
    <app-table-header [text]="'classlist.firstName' | translate"
                      [asc]="getSortState('firstName')"
                      (click)="sortBy('firstName')">
    </app-table-header>
    <app-table-header [text]="'classlist.lastName' | translate"
                      [asc]="getSortState('lastName')"
                      (click)="sortBy('lastName')">
    </app-table-header>
    <app-table-header class="birthday"
                      [text]="'classlist.birthday' | translate"
                      [asc]="getSortState('birthday')"
                      (click)="sortBy('birthday')">
    </app-table-header>
    <app-table-header class="email"
                      [text]="'classlist.email' | translate"
                      [asc]="getSortState('email')"
                      (click)="sortBy('email')">
    </app-table-header>
    <app-table-header class="sex"
                      [text]="'classlist.sex' | translate"
                      [asc]="getSortState('sex')"
                      (click)="sortBy('sex')">
    </app-table-header>
    <app-table-header class="city"
                      [text]="'classlist.city' | translate"
                      [asc]="getSortState('city')"
                      (click)="sortBy('city')">
    </app-table-header>
</div>
<mat-divider></mat-divider>
<div *ngFor="let person of _people" class="data-row" (click)="openDetail(person)">
    <app-image class="image" [round]="true" [size]="48" [imageId]="person.imageId" ></app-image>
    <div class="text">{{ person.firstName }}</div>
    <div class="text">{{ person.lastName }}</div>
    <div class="text birthday">{{ person.birthday | date: 'dd.MM.yyyy' }}</div>
    <div class="text email">{{ person.email }}</div>
    <div class="text sex">{{ ('Sex.' + person.sex) | translate }}</div>
    <div class="text city">{{ person.city }}</div>
</div>