.data-row {
    margin-top: 4px;
    margin-bottom: 4px;
    display: grid;
    cursor: pointer;
    grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr 1fr;
}
h2 {
    margin-bottom: 0px;
}
.text {
    margin-top: 16px;
}
.header {
    font-weight: bold;
}