$teachu-primary: #ff2878;
$teachu-accent: #ba00ff;

$teachu-dark-primary: #52c934;
$teachu-dark-accent: #34e1ed;

$teachu-white: #fafafa;
$teachu-grey: #f5f5f5;
$teachu-grey-darker: #e8e8e8;
$teachu-black: #1d1d1d;

$teachu-accent-1: #ba00ff;
$teachu-accent-2: #ff00b8;
$teachu-accent-3: #ff2878;
$teachu-accent-4: #ff884a;
$teachu-accent-5: #ffc742;
$teachu-accent-6: #f9f871;