:root {
    // base
    --teachu-base-0: #fafafa;
    --teachu-base-1: #e5e5e5;
    --teachu-base-2: #a3a3a3;
    --teachu-base-3: #404040;
    --teachu-base-4: #262626;
    --teachu-base-5: #171717;

    --teachu-primary-0: #bfdbfe;
    --teachu-primary-1: #60a5fa;
    --teachu-primary-2: #3b82f6;
    --teachu-primary-3: #1d4ed8;
    --teachu-primary-4: #1e40af;
    --teachu-primary-5: #1e3a8a;

    --teachu-secondary-0: #fed7aa;
    --teachu-secondary-1: #fdba74;
    --teachu-secondary-2: #fb923c;
    --teachu-secondary-3: #f97316;
    --teachu-secondary-4: #ea580c;
    --teachu-secondary-5: #c2410c;

    --teachu-error-0: #e11d48;

    //light
    --teachu-light-base-0: #fafafa;
    --teachu-light-base-1: #e5e5e5;
    --teachu-light-base-2: #a3a3a3;
    --teachu-light-base-3: #404040;
    --teachu-light-base-4: #262626;
    --teachu-light-base-5: #171717;

    --teachu-light-primary-0: #bfdbfe;
    --teachu-light-primary-1: #60a5fa;
    --teachu-light-primary-2: #3b82f6;
    --teachu-light-primary-3: #1d4ed8;
    --teachu-light-primary-4: #1e40af;
    --teachu-light-primary-5: #1e3a8a;

    --teachu-light-secondary-0: #fed7aa;
    --teachu-light-secondary-1: #fdba74;
    --teachu-light-secondary-2: #fb923c;
    --teachu-light-secondary-3: #f97316;
    --teachu-light-secondary-4: #ea580c;
    --teachu-light-secondary-5: #c2410c;

    --teachu-light-error-0: #e11d48;

    //dark
    --teachu-dark-base-0: #171717;
    --teachu-dark-base-1: #262626;
    --teachu-dark-base-2: #404040;
    --teachu-dark-base-3: #a3a3a3;
    --teachu-dark-base-4: #e5e5e5;
    --teachu-dark-base-5: #fafafa;

    --teachu-dark-primary-0: #1e3a8a;
    --teachu-dark-primary-1: #1e40af;
    --teachu-dark-primary-2: #1d4ed8;
    --teachu-dark-primary-3: #3b82f6;
    --teachu-dark-primary-4: #60a5fa;
    --teachu-dark-primary-5: #bfdbfe;

    --teachu-dark-secondary-0: #c2410c;
    --teachu-dark-secondary-1: #ea580c;
    --teachu-dark-secondary-2: #f97316;
    --teachu-dark-secondary-3: #fb923c;
    --teachu-dark-secondary-4: #fdba74;
    --teachu-dark-secondary-5: #fed7aa;

    --teachu-dark-error-0: #f43f5e;
}
