:root {
    // base
    --teachu-primary: #00214D;
    --teachu-accent: #00EBC7;
    --teachu-white: #EFFFFF;
    --teachu-grey: #F4F4F6;
    --teachu-grey-darker: #D3D3D9;
    --teachu-black: #000914;
    --teachu-accent-1: #00EBC7;
    --teachu-accent-2: #AFB9C7;
    --teachu-accent-3: #FF5470;

    // lightmode
    --teachu-light-primary: #00214D;
    --teachu-light-accent: #00EBC7;
    --teachu-light-white: #EFFFFF;
    --teachu-light-grey: #F4F4F6;
    --teachu-light-grey-darker: #D3D3D9;
    --teachu-light-black: #000914;
    --teachu-light-accent-1: #00EBC7;
    --teachu-light-accent-2: #AFB9C7;
    --teachu-light-accent-3: #FF5470;

    // darkmode
    --teachu-dark-primary: #99C5FF;
    --teachu-dark-accent: #467A56;
    --teachu-dark-white: #1d1d1d;
    --teachu-dark-grey: #282828;
    --teachu-dark-grey-darker: #363636;
    --teachu-dark-black: #F2F6FF;
    --teachu-dark-accent-1: #467A56;
    --teachu-dark-accent-2: #6A5B4F;
    --teachu-dark-accent-3: #A14A68;
}