// --------------
// - light mode -
// --------------
$teachu-primary-palette: (
        50 : var(--teachu-light-primary-0),
        100 : var(--teachu-light-primary-0),
        200 : var(--teachu-light-primary-0),
        300 : var(--teachu-light-primary-0),
        400 : var(--teachu-light-primary-0),
        500 : var(--teachu-light-primary-1),
        600 : var(--teachu-light-primary-2),
        700 : var(--teachu-light-primary-3),
        800 : var(--teachu-light-primary-4),
        900 : var(--teachu-light-primary-5),
        A100 : var(--teachu-light-primary-2),
        A200 : var(--teachu-light-primary-3),
        A400 : var(--teachu-light-primary-4),
        A700 : var(--teachu-light-primary-5),
        contrast: (
                50 : var(--teachu-light-base-5),
                100 : var(--teachu-light-base-5),
                200 : var(--teachu-light-base-5),
                300 : var(--teachu-light-base-5),
                400 : var(--teachu-light-base-5),
                500 : var(--teachu-light-base-5),
                600 : var(--teachu-light-base-0),
                700 : var(--teachu-light-base-0),
                800 : var(--teachu-light-base-0),
                900 : var(--teachu-light-base-0),
                A100 : var(--teachu-light-base-0),
                A200 : var(--teachu-light-base-0),
                A400 : var(--teachu-light-base-0),
                A700 : var(--teachu-light-base-0),
        )
);

$teachu-accent-palette: (
    50 : var(--teachu-light-secondary-0),
    100 : var(--teachu-light-secondary-0),
    200 : var(--teachu-light-secondary-0),
    300 : var(--teachu-light-secondary-0),
    400 : var(--teachu-light-secondary-0),
    500 : var(--teachu-light-secondary-1),
    600 : var(--teachu-light-secondary-2),
    700 : var(--teachu-light-secondary-3),
    800 : var(--teachu-light-secondary-4),
    900 : var(--teachu-light-secondary-5),
    A100 : var(--teachu-light-secondary-2),
    A200 : var(--teachu-light-secondary-3),
    A400 : var(--teachu-light-secondary-4),
    A700 : var(--teachu-light-secondary-5),
    contrast: (
        50 : var(--teachu-light-base-5),
        100 : var(--teachu-light-base-5),
        200 : var(--teachu-light-base-5),
        300 : var(--teachu-light-base-5),
        400 : var(--teachu-light-base-5),
        500 : var(--teachu-light-base-5),
        600 : var(--teachu-light-base-5),
        700 : var(--teachu-light-base-0),
        800 : var(--teachu-light-base-0),
        900 : var(--teachu-light-base-0),
        A100 : var(--teachu-light-base-5),
        A200 : var(--teachu-light-base-0),
        A400 : var(--teachu-light-base-0),
        A700 : var(--teachu-light-base-0),
    )
);

$teachu-warn-palette: (
    50 : var(--teachu-light-error-0),
    100 : var(--teachu-light-error-0),
    200 : var(--teachu-light-error-0),
    300 : var(--teachu-light-error-0),
    400 : var(--teachu-light-error-0),
    500 : var(--teachu-light-error-0),
    600 : var(--teachu-light-error-0),
    700 : var(--teachu-light-error-0),
    800 : var(--teachu-light-error-0),
    900 : var(--teachu-light-error-0),
    A100 : var(--teachu-light-error-0),
    A200 : var(--teachu-light-error-0),
    A400 : var(--teachu-light-error-0),
    A700 : var(--teachu-light-error-0),
    contrast: (
        50 : var(--teachu-light-base-0),
        100 : var(--teachu-light-base-0),
        200 : var(--teachu-light-base-0),
        300 : var(--teachu-light-base-0),
        400 : var(--teachu-light-base-0),
        500 : var(--teachu-light-base-0),
        600 : var(--teachu-light-base-0),
        700 : var(--teachu-light-base-0),
        800 : var(--teachu-light-base-0),
        900 : var(--teachu-light-base-0),
        A100 : var(--teachu-light-base-0),
        A200 : var(--teachu-light-base-0),
        A400 : var(--teachu-light-base-0),
        A700 : var(--teachu-light-base-0),
    )
);

// --------------
// - dark mode --
// --------------
$teachu-dark-primary-palette: (
    50 : var(--teachu-dark-primary-0),
    100 : var(--teachu-dark-primary-0),
    200 : var(--teachu-dark-primary-0),
    300 : var(--teachu-dark-primary-0),
    400 : var(--teachu-dark-primary-0),
    500 : var(--teachu-dark-primary-1),
    600 : var(--teachu-dark-primary-2),
    700 : var(--teachu-dark-primary-3),
    800 : var(--teachu-dark-primary-4),
    900 : var(--teachu-dark-primary-5),
    A100 : var(--teachu-dark-primary-2),
    A200 : var(--teachu-dark-primary-3),
    A400 : var(--teachu-dark-primary-4),
    A700 : var(--teachu-dark-primary-5),
    contrast: (
        50 : var(--teachu-dark-base-5),
        100 : var(--teachu-dark-base-5),
        200 : var(--teachu-dark-base-5),
        300 : var(--teachu-dark-base-5),
        400 : var(--teachu-dark-base-5),
        500 : var(--teachu-dark-base-5),
        600 : var(--teachu-dark-base-5),
        700 : var(--teachu-dark-base-5),
        800 : var(--teachu-dark-base-0),
        900 : var(--teachu-dark-base-0),
        A100 : var(--teachu-dark-base-5),
        A200 : var(--teachu-dark-base-5),
        A400 : var(--teachu-dark-base-0),
        A700 : var(--teachu-dark-base-0),
    )
);

$teachu-dark-accent-palette: (
    50 : var(--teachu-dark-secondary-0),
    100 : var(--teachu-dark-secondary-0),
    200 : var(--teachu-dark-secondary-0),
    300 : var(--teachu-dark-secondary-0),
    400 : var(--teachu-dark-secondary-0),
    500 : var(--teachu-dark-secondary-1),
    600 : var(--teachu-dark-secondary-2),
    700 : var(--teachu-dark-secondary-3),
    800 : var(--teachu-dark-secondary-4),
    900 : var(--teachu-dark-secondary-5),
    A100 : var(--teachu-dark-secondary-2),
    A200 : var(--teachu-dark-secondary-3),
    A400 : var(--teachu-dark-secondary-4),
    A700 : var(--teachu-dark-secondary-5),
    contrast: (
        50 : var(--teachu-dark-base-5),
        100 : var(--teachu-dark-base-5),
        200 : var(--teachu-dark-base-5),
        300 : var(--teachu-dark-base-5),
        400 : var(--teachu-dark-base-5),
        500 : var(--teachu-dark-base-5),
        600 : var(--teachu-dark-base-0),
        700 : var(--teachu-dark-base-0),
        800 : var(--teachu-dark-base-0),
        900 : var(--teachu-dark-base-0),
        A100 : var(--teachu-dark-base-0),
        A200 : var(--teachu-dark-base-0),
        A400 : var(--teachu-dark-base-0),
        A700 : var(--teachu-dark-base-0),
    )
);

$teachu-dark-warn-palette: (
    50 : var(--teachu-dark-error-0),
    100 : var(--teachu-dark-error-0),
    200 : var(--teachu-dark-error-0),
    300 : var(--teachu-dark-error-0),
    400 : var(--teachu-dark-error-0),
    500 : var(--teachu-dark-error-0),
    600 : var(--teachu-dark-error-0),
    700 : var(--teachu-dark-error-0),
    800 : var(--teachu-dark-error-0),
    900 : var(--teachu-dark-error-0),
    A100 : var(--teachu-dark-error-0),
    A200 : var(--teachu-dark-error-0),
    A400 : var(--teachu-dark-error-0),
    A700 : var(--teachu-dark-error-0),
    contrast: (
        50 : var(--teachu-dark-base-5),
        100 : var(--teachu-dark-base-5),
        200 : var(--teachu-dark-base-5),
        300 : var(--teachu-dark-base-5),
        400 : var(--teachu-dark-base-5),
        500 : var(--teachu-dark-base-5),
        600 : var(--teachu-dark-base-5),
        700 : var(--teachu-dark-base-5),
        800 : var(--teachu-dark-base-5),
        900 : var(--teachu-dark-base-5),
        A100 : var(--teachu-dark-base-5),
        A200 : var(--teachu-dark-base-5),
        A400 : var(--teachu-dark-base-5),
        A700 : var(--teachu-dark-base-5),
    )
);
