// --------------
// - light mode -
// --------------
$teachu-primary-palette: (
        50 : #e0e4ea,
        100 : #b3bcca,
        200 : #8090a6,
        300 : #4d6482,
        400 : #264268,
        500 : var(--teachu-light-primary),
        600 : #001d46,
        700 : #00183d,
        800 : #001434,
        900 : #000b25,
        A100 : #607cff,
        A200 : #2d52ff,
        A400 : #002bf9,
        A700 : #0027e0,
        contrast: (
                50 : var(--teachu-light-black),
                100 : var(--teachu-light-black),
                200 : var(--teachu-light-black),
                300 : var(--teachu-light-black),
                400 : var(--teachu-light-white),
                500 : var(--teachu-light-white),
                600 : var(--teachu-light-white),
                700 : var(--teachu-light-white),
                800 : var(--teachu-light-white),
                900 : var(--teachu-light-white),
                A100 : var(--teachu-light-black),
                A200 : var(--teachu-light-white),
                A400 : var(--teachu-light-white),
                A700 : var(--teachu-light-white),
        )
);

$teachu-accent-palette: (
        50 : #e0fdf8,
        100 : #b3f9ee,
        200 : #80f5e3,
        300 : #4df1d8,
        400 : #26eecf,
        500 : var(--teachu-light-accent),
        600 : #00e9c1,
        700 : #00e5ba,
        800 : #00e2b3,
        900 : #00dda6,
        A100 : #ffffff,
        A200 : #d1fff2,
        A400 : #9effe4,
        A700 : #85ffdc,
        contrast: (
                50 : var(--teachu-light-black),
                100 : var(--teachu-light-black),
                200 : var(--teachu-light-black),
                300 : var(--teachu-light-black),
                400 : var(--teachu-light-black),
                500 : var(--teachu-light-black),
                600 : var(--teachu-light-black),
                700 : var(--teachu-light-black),
                800 : var(--teachu-light-black),
                900 : var(--teachu-light-black),
                A100 : var(--teachu-light-black),
                A200 : var(--teachu-light-black),
                A400 : var(--teachu-light-black),
                A700 : var(--teachu-light-black),
        )
);

$teachu-warn-palette: (
        50 : #ffeaee,
        100 : #ffccd4,
        200 : #ffaab8,
        300 : #ff879b,
        400 : #ff6e85,
        500 : var(--teachu-light-accent-3),
        600 : #ff4d68,
        700 : #ff435d,
        800 : #ff3a53,
        900 : #ff2941,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffd6da,
        A700 : #ffbdc3,
        contrast: (
                50 : var(--teachu-light-black),
                100 : var(--teachu-light-black),
                200 : var(--teachu-light-black),
                300 : var(--teachu-light-black),
                400 : var(--teachu-light-black),
                500 : var(--teachu-light-white),
                600 : var(--teachu-light-white),
                700 : var(--teachu-light-white),
                800 : var(--teachu-light-white),
                900 : var(--teachu-light-white),
                A100 : var(--teachu-light-black),
                A200 : var(--teachu-light-black),
                A400 : var(--teachu-light-black),
                A700 : var(--teachu-light-black),
        )
);

// --------------
// - dark mode --
// --------------
$teachu-dark-primary-palette: (
        50 : #f3f8ff,
        100 : #e0eeff,
        200 : #cce2ff,
        300 : #b8d6ff,
        400 : #a8ceff,
        500 : var(--teachu-dark-primary),
        600 : #91bfff,
        700 : #86b8ff,
        800 : #7cb0ff,
        900 : #6ba3ff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #f3f8ff,
        contrast: (
                50 : var(--teachu-dark-white),
                100 : var(--teachu-dark-white),
                200 : var(--teachu-dark-white),
                300 : var(--teachu-dark-white),
                400 : var(--teachu-dark-white),
                500 : var(--teachu-dark-white),
                600 : var(--teachu-dark-white),
                700 : var(--teachu-dark-white),
                800 : var(--teachu-dark-white),
                900 : var(--teachu-dark-white),
                A100 : var(--teachu-dark-white),
                A200 : var(--teachu-dark-white),
                A400 : var(--teachu-dark-white),
                A700 : var(--teachu-dark-white),
        )
);

$teachu-dark-accent-palette: (
        50 : #e9efeb,
        100 : #c8d7cc,
        200 : #a3bdab,
        300 : #7ea289,
        400 : #628e6f,
        500 : var(--teachu-dark-accent),
        600 : #3f724f,
        700 : #376745,
        800 : #2f5d3c,
        900 : #204a2b,
        A100 : #8effab,
        A200 : #5bff85,
        A400 : #28ff5f,
        A700 : #0eff4c,
        contrast: (
                50 : var(--teachu-dark-white),
                100 : var(--teachu-dark-white),
                200 : var(--teachu-dark-white),
                300 : var(--teachu-dark-black),
                400 : var(--teachu-dark-black),
                500 : var(--teachu-dark-black),
                600 : var(--teachu-dark-black),
                700 : var(--teachu-dark-black),
                800 : var(--teachu-dark-black),
                900 : var(--teachu-dark-black),
                A100 : var(--teachu-dark-white),
                A200 : var(--teachu-dark-white),
                A400 : var(--teachu-dark-white),
                A700 : var(--teachu-dark-white),
        )
);

$teachu-dark-warn-palette: (
        50 : #f4e9ed,
        100 : #e3c9d2,
        200 : #d0a5b4,
        300 : #bd8095,
        400 : #af657f,
        500 : var(--teachu-dark-accent-3),
        600 : #994360,
        700 : #8f3a55,
        800 : #85324b,
        900 : #74223a,
        A100 : #ffb4c8,
        A200 : #ff81a2,
        A400 : #ff4e7d,
        A700 : #ff356a,
        contrast: (
                50 : var(--teachu-dark-white),
                100 : var(--teachu-dark-white),
                200 : var(--teachu-dark-white),
                300 : var(--teachu-dark-white),
                400 : var(--teachu-dark-black),
                500 : var(--teachu-dark-black),
                600 : var(--teachu-dark-black),
                700 : var(--teachu-dark-black),
                800 : var(--teachu-dark-black),
                900 : var(--teachu-dark-black),
                A100 : var(--teachu-dark-white),
                A200 : var(--teachu-dark-white),
                A400 : var(--teachu-dark-white),
                A700 : var(--teachu-dark-black),
        )
);