<form class="private-form">
    <h1>{{ 'chat.privateChat' | translate }}</h1>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{ 'chat.user' | translate }}</mat-label>
        <input type="text" matInput [formControl]="privateFormUserId" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getNameFromId.bind(this)">
            <mat-option *ngFor="let option of filteredOptionsPrivate$ | async" [value]="option.id">
                {{ option.name }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div class="buttons">
        <button mat-flat-button type="submit" (click)="close()">{{ 'framework.close' | translate }}</button>
        <button mat-flat-button color="primary" type="submit" (click)="createPrivateChat(privateFormUserId.value)" [disabled]="!privateFormUserId.valid">{{ 'framework.save' | translate }}</button>    
    </div>
</form>
