@import './../../../styles/colors';

.toasty {
    width: 232px;
    background-color: var(--teachu-primary-4);
    color: var(--teachu-base-0);
    margin-top: 10px;
    padding: 16px;
    border-radius: 4px;
    .title {
        font-size: 16px;
        display: grid;
        grid-template-columns: 180px 20px;
        .title-text {
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 180px;
            overflow: hidden;
        }
    }
    .message {
        font-size: 14px;
    }
    mat-divider {
        border-top-color: var(--teachu-base-0);
        margin-top: 2px;
        margin-bottom: 2px;
    }
}
