<div *ngIf="classSelected" class="class-grades">
    <div class="class-grades-header">
        <div class="class-grades-header-items">
            <button mat-icon-button
                    color="primary"
                    class="semester-grade-menu-toggle"
                    (click)="toggleMenuTree()">
                <mat-icon>
                    <span class="material-icons-outlined">keyboard_double_arrow_left</span>
                </mat-icon>
            </button>
            <mat-icon id="semester-icon">{{SEMESTER_ICON}}</mat-icon>
            <span id="semester-text">{{selectedSubject?.semester?.semesterName}}</span>
            <mat-icon id="class-icon">{{CLASS_ICON}}</mat-icon>
            <span id="class-text">{{selectedSubject?.schoolClass?.schoolClass}} </span>
            <mat-icon id="subject-icon">{{SUBJECT_ICON}}</mat-icon>
            <span id="subject-text">{{selectedSubject?.subject?.subjectName}}</span>
        </div>
        <div class="class-grades-header-items" style="justify-content: end">
            <span class="subject-average">⌀ {{getRoundedMark(selectedSubject?.subject?.averageMark)}}</span>
        </div>
    </div>
    <div class="grade-row" *ngFor="let grade of selectedSubject?.subject?.grades">
        <span class="grade-value grade-name">{{grade.name}}</span>
        <span class="grade-value grade-date">{{grade.date | date: 'dd.MM.yyyy'}}</span>
        <span class="grade-value grade-mark">{{grade.mark}}</span>
    </div>
</div>