.dialog {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}
.image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 16px;
}
.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}