<mat-dialog-content [formGroup]="formGroup">
    <h1>{{ 'userSettings.changePassword' | translate }}</h1>
    <mat-form-field>
        <mat-label>{{ "userSettings.email" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.email' | translate" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ "userSettings.passwordOld" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.passwordOld' | translate" type="password" formControlName="oldPassword">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ "userSettings.passwordNew" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.passwordNew' | translate" type="password" formControlName="newPassword">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ "userSettings.passwordConfirm" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.passwordConfirm' | translate" type="password" formControlName="passwordConfirm">
    </mat-form-field>
    <div class="buttons">    
        <button mat-button (click)="close()">{{ 'framework.close' | translate }}</button>
        <button mat-button color="primary" [disabled]="!formGroup.valid" (click)="save()">{{ 'framework.save' | translate }}</button>
    </div>
</mat-dialog-content>