<mat-dialog-content [formGroup]="formGroup">
    <mat-form-field>
        <mat-label>{{ "userSettings.passwordOld" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.passwordOld' | translate" formControlName="passwordOld">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ "userSettings.passwordNew" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.passwordNew' | translate" formControlName="passwordNew">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ "userSettings.passwordConfirm" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.passwordConfirm' | translate" formControlName="passwordConfirm">
    </mat-form-field>
    <div class="buttons">    
        <button mat-button (click)="close()">{{ 'framework.close' | translate }}</button>
        <button mat-button color="primary" [disabled]="!formGroup.valid" (click)="save()">{{ 'framework.save' | translate }}</button>
    </div>
</mat-dialog-content>