@import 'src/styles/_colors.scss';

.profile-picture-container{
  border: none;
  border-radius: 50%;

  outline: 1px solid transparent;
  transition: 250ms all ease-in-out;
}

.profile-picture-container:hover{
  outline: 1px solid var(--teachu-black);
}
