@import 'src/styles/_colors.scss';

.profile-picture-container{
  padding: 1px;

  border: 1px solid var(--teachu-black);
  border-radius: 50%;
  transition: 250ms filter ease-out;
}

.profile-picture-container:hover{
  filter: drop-shadow(0 0 0.5rem var(--teachu-black)) opacity(70%);
}

.profile-picture{
  border-radius: 50%;
}