@import 'src/styles/_colors.scss';

.menu-tree {
  padding: 15px;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;

  .menu-tree-item {
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 5px;

    transition: 0.5s all ease-out;
    color: var(--teachu-base-5);

    &:hover {
      background-color: var(--teachu-base-2);
    }
  }

  .menu-tree-indented-leave {
    padding-left: 20px;
  }

  .menu-tree-sub-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
  }
}
