<div class="menu-tree">
    <ng-template #nodeTemplateRef let-node>
        <div>
            <ng-container *ngIf="node.leave else subNode">
                <div class="menu-tree-item"
                     [style.padding-left]="(indentationWidth * node.level) + 'px'"
                     [style.width]="'calc(100% - ' + (indentationWidth * node.level) + 'px)'">
                    <app-menu-leave [item]="node" (leaveClickedEvent)="leaveClicked($event)"></app-menu-leave>
                </div>
            </ng-container>
            <ng-template #subNode>
                <div expansionContentToggle
                     class="menu-tree-item"
                     [style.padding-left]="(indentationWidth * node.level) + 'px'"
                     [style.width]="'calc(100% - ' + (indentationWidth * node.level) + 'px)'"
                     [target]="item">
                    <app-menu-node [node]="node"></app-menu-node>
                </div>
                <div #item expansion-wrapper
                     [expanded]="false"
                     style="overflow: hidden">
                    <ng-template ngFor
                                 [ngForOf]="node.children"
                                 [ngForTemplate]="nodeTemplateRef">
                    </ng-template>
                </div>
            </ng-template>
        </div>
    </ng-template>

    <div *ngFor="let rootNode of treeData.tree">
        <ng-template [ngTemplateOutlet]="nodeTemplateRef"
                     [ngTemplateOutletContext]="{ $implicit: rootNode }">
        </ng-template>
    </div>
</div>
