<div class="menu-tree">
    <ng-container *ngFor="let menuTreeItem of menuTree.tree">
        <ng-container *ngIf="menuTreeItem.leave; else node">
            <div class="menu-tree-item">
                <app-menu-leave [item]="menuTreeItem"></app-menu-leave>
            </div>
        </ng-container>
        <ng-template #node>
            <div class="menu-tree-item" expansionContentToggle [target]="item">
                <app-menu-node [node]="menuTreeItem"></app-menu-node>
            </div>
            <div #item expansion-wrapper [expanded]="true" style="overflow: hidden">
                <div class="menu-tree-item menu-tree-indented-leave" *ngFor="let leave of menuTreeItem.children">
                    <app-menu-leave [item]="leave"></app-menu-leave>
                </div>
            </div>
        </ng-template>
    </ng-container>
</div>