.login-container{
    width: 100%;
    min-height: 100%;
    height: fit-content;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    justify-items: center;

    @media (max-width: 1100px) {
        grid-template-columns: clamp(250px, 85vw, 800px);
        grid-template-rows: 500px 500px ;
    }

    .login{
        overflow-y: hidden;
        display: grid;
        align-items: center;
        justify-items: center;
        width: 90%;

        img{
            margin: 15px 20px;

            @media (max-width: 820px) {
                margin: 15px 1.5vw;
            }
        }

        .logo{
            max-height: 100px;
            max-width: 100px;
            height: 20vw;
            width: 20vw;
        }

        .banner {
            max-height: 100px;
            height: 20vw;
        }

        p{
            text-align: center;
            margin: 15px 30px;
            width: 100%;
        }
    }

    form {
        display: grid;
        grid-template-columns: 1fr;

        width: clamp(200px, 60vw, 400px);
        height: 250px;

        padding: 50px;
        border-radius: 20px;
        box-shadow: 0 10px 10px var(--teachu-primary-brightest);

        input {
            width: 100%;
        }
    }

    button {
        margin-top: 10px;
    }
}

