<mat-drawer-container class="root">
    <div *ngIf="(isSignedIn$ | async); else loginOnly" [ngClass]="{
        'big-outline': bigWindow,
        'big-outline-closed': menuClosed && bigWindow,
        'small-outline': !bigWindow}">
        <div *ngIf="bigWindow" class="nav">
            <app-outline-nav-header [(menuClosed)]="menuClosed" [menuToggleIcon]="'close'"> </app-outline-nav-header>
        </div>

        <div class="header">
            <app-outline-header [(menuClosed)]="menuClosed" [currentUser]="(currentUser$ | async)!"></app-outline-header>
        </div>

        <div *ngIf="!bigWindow && !menuClosed" class="floating-nav">
            <div class="nav-background" (click)="toggleMenu()"></div>
            <div class="floating-nav-content">
                <div class="floating-nav-content-header">
                    <app-outline-nav-header [(menuClosed)]="menuClosed" [menuToggleIcon]="'close'"> </app-outline-nav-header>
                </div>
                <div>
                    <app-parent-child-selector *ngIf="isParent" class="parent-child-selector"></app-parent-child-selector>
                    <app-menu-tree [treeData]="(menuTree$ | async)!" [indentationWidth]="20" (leaveClickedEvent)="toggleMenu()"></app-menu-tree>
                </div>
            </div>
        </div>

        <div *ngIf="bigWindow" class="nav">
            <app-parent-child-selector *ngIf="isParent" class="parent-child-selector"></app-parent-child-selector>
            <app-menu-tree [treeData]="(menuTree$ | async)!" [indentationWidth]="20"></app-menu-tree>
        </div>

        <div class="page">
            <router-outlet></router-outlet>
        </div>
    </div>
    <ng-template #loginOnly>
        <div class="login-only">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</mat-drawer-container>