@import './../styles/colors';

.root {
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: $teachu-white;

  .outline {
    height: 100vh;
    display: grid;
    grid-template-columns: clamp(300px, 30%, 400px) auto;
    grid-template-rows: 100px auto;

    .nav {
      background-color: $teachu-grey;
    }

    .nav-header {
      display: flex;
      align-items: center;

      font-size: 1.6rem;
      color: $teachu-primary;

      .child {
        padding-left: 20px;
      }
    }

    .page {
      padding: 20px;
    }
  }
}