.header {
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 230px);
    margin-bottom: 16px;
}
.collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 40px 40px;
    gap: 16px;
    margin-bottom: 16px;
    width: calc(100vw - 260px);
}
.page {
    margin-bottom: 16px;
}
.pointer {
    cursor: pointer;
}