<div class="title">
    <h2 >{{absence.title}}</h2>

    <app-text-badge [text]="absenceService.TYPE_TRANSLATION_BASE + absence.type | translate"
                    [color]="absenceService.getAbsenceTypeColor(absence.type)"
                    [matIcon]="absenceService.getAbsenceTypeIcon(absence.type)"></app-text-badge>

    <app-text-badge [text]="absenceService.STATE_TRANSLATION_BASE + absence.state | translate"
                    [color]="absenceService.getAbsenceStateColor(absence.state)"
                    [matIcon]="absenceService.getAbsenceStateIcon(absence.state)"></app-text-badge>
</div>
<h4>{{absence.description}}</h4>
<button *ngIf="isParent && showVerify()"
        mat-fab
        color="accent"
        (click)="parentVerify()"
        [matTooltip]="'absences.verify' | translate">
    <mat-icon>done</mat-icon>
</button>
<button mat-fab color="primary"
        (click)="edit()"
        [matTooltip]="'absences.edit' | translate">
    <mat-icon>edit</mat-icon>
</button>