@import 'src/styles.scss';

.material-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-label-error {
    color: var(--teachu-warn) !important;
    font-weight: bold;
}

.upload-container{
    cursor: pointer;
    background-color: var(--teachu-primary);
    color: var(--teachu-white);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: 250ms all ease-out;
}

.upload-container:hover{
    background-color: var(--teachu-dark-primary);
}

.upload-container:active{
    background-color: var(--teachu-light-primary);
}

.upload-label{
    font-size: 0.8rem;
}

.upload-text{
    font-size: 1rem;
}
