@import 'src/styles.scss';

.material-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-label-error {
    color: var(--teachu-error-0) !important;
    font-weight: bold;
}

.upload-container{
    cursor: pointer;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    background-color: var(--teachu-primary-4);
    color: var(--teachu-base-0);
    border-radius: 0.4rem;

    transition: filter 200ms ease-out;
}

.upload-container:hover{
    filter: brightness(1.2);
}

.upload-container:active{
    filter: brightness(1.4);
}

.upload-label{
    font-size: 0.8rem;
    color: var(--teachu-base-5);
    transition: color 0.3s ease-out;
}

.upload-text{
    color: var(--teachu-base-0);
    font-size: 1rem;

    margin-left: 5px;
}
