.page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;

    .teachers{
        width: 100%;

        display: flex;
        flex-flow: row wrap;
        gap: 60px;
        padding-bottom: 50px;

        .teacher{
            max-width: 400px;
            width: max-content;
            min-width: 200px;
            padding: 25px;
            border-radius: 20px;

            background-color: var(--teachu-white);
            filter: drop-shadow(0 15px 20px var(--teachu-primary-brightest));
        }
    }

    @media (max-width: 1000px) {
        .teachers{
            justify-content: center;
        }
    }
}
