.page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;

    .teachers{
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        .teacher{
            padding: 25px;
            border-radius: 5px;
            background-color: var(--teachu-base-0);
            box-shadow: 0 0 10px 10px var(--teachu-base-1);
            transition: 250ms all ease-in-out;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    @media (max-width: 1000px) {
        .teachers{
            justify-content: center;
        }
    }
}
