<div class="head">
    <h2>{{ date | date:'dd.MM.yyyy' }}</h2>
    <div>
        <button (click)="changeDay(-1)" mat-icon-button>
            <mat-icon>chevron_left</mat-icon>
        </button>
        <button (click)="changeDay(1)" mat-icon-button>
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>
<mat-divider></mat-divider>
<div *ngFor="let lesson of lessons">
    <div class="lesson">
        <div class="duration">
            {{ lesson.start | date:'HH:mm' }} - {{ lesson.end | date:'HH:mm' }}
        </div>
        <div class="subject">
            {{ lesson.subject }} ({{ lesson.class }})
        </div>
        <div>
            {{ lesson.teacher }}
        </div>
        <div>
            {{ lesson.room }}
        </div>
    </div>
    <mat-divider></mat-divider>
</div>    
