<div *ngIf="!editable; else editMode">
    <app-create-question-readonly-field [label]="'create.question' | translate" [value]="formGroup.value.question"></app-create-question-readonly-field>
</div>
<ng-template #editMode>
    <form [formGroup]="formGroup" class="form">
        <mat-form-field>
            <input matInput type="text" formControlName="question" [placeholder]="'create.question' | translate" (change)="changeQuestion()">
        </mat-form-field>
        <button mat-button (click)="addQuestion()">
            {{ 'create.addAnswer' | translate }}
        </button>
        <button mat-icon-button (click)="deleteQuestion()">
            <mat-icon>delete</mat-icon>
        </button>
    </form>
</ng-template>
<div *ngFor="let answer of currentChildValue">
    <app-create-question-distribute-answer [answer]="answer" [editable]="editable" (answerChange)="changeAnswer($event)" (answerDelete)="deleteAnswer($event)"></app-create-question-distribute-answer>
</div>