<div class="page">
    <div class="part">
        <div class="header" (click)="navigateSchoolInfos()">
            <mat-icon>info</mat-icon>
            <h2>{{ 'schoolInfos.schoolInfos' | translate }}</h2>
        </div>
        <div *ngIf="schoolInfos$ | async as schoolInfos; else schoolInfoSpinner">
            <div *ngFor="let schoolInfo of schoolInfos">
                <div class="entry school-info">
                    <div class="title-bar-content">
                        <div class="bold center">{{ schoolInfo.title }}</div>
                        <div class="center">{{ schoolInfo.date | date: 'dd.MM.yyyy' }}</div>
                        <div class="icons">
                            <mat-icon *ngIf="schoolInfo.important" class="mat-icon">announcement</mat-icon>
                            <mat-icon *ngIf="schoolInfo.pinned" class="mat-icon">bookmark</mat-icon>
                        </div>
                    </div>
                    <div class="hidden details">
                        {{ schoolInfo.creator }}: {{ schoolInfo.message }}
                    </div>
                </div>
            </div>
            <div *ngIf="isEmpty(schoolInfos)" class="entry empty">{{ 'framework.noData' | translate }}</div>
        </div>
        <ng-template #schoolInfoSpinner><div class="spinner-wrapper"><div *showSpinner="true"></div></div></ng-template>
    </div>
    <div class="part">
        <div class="header" (click)="navigateTimetable()">
            <mat-icon>calendar_today</mat-icon>
            <h2>{{ 'timetable.timetable' | translate }}</h2>
        </div>
        <div *ngIf="timetable$ | async as timetable; else timetableSpinner">
            <div class="entry timetable">
                <div class="bold">{{ ('Weekday.' + timetable.weekday) | translate }} - {{ timetable.date | date: 'dd.MM.yyyy' }}</div>
                <div *ngFor="let event of timetable.events" class="event-info" [style]="{ 'height': '20px' }">
                    <mat-icon [style]="{ 'font-size': '14px', 'margin-top': '6px' }">info</mat-icon>
                    <div>{{ event }}</div>
                </div>
            </div>
            <div *ngFor="let lesson of timetable.lessons" class="entry timetable-lesson">
                <div class="timetable-lesson-title-bar">
                    <div class="pointer center bold">{{ lesson.from }} - {{ lesson.to }} {{ lesson.subject }}</div>
                </div>
                <div class="hidden details">
                    <div>{{ 'timetable.teacher' | translate }}: {{ lesson.teacher }}</div>
                    <div>{{ 'timetable.room' | translate }}: {{ lesson.room }}</div>
                    <div *ngIf="lesson.lessonEvent" class="event-info">
                        <mat-icon [style]="{ 'font-size': '14px', 'margin-top': '6px' }">info</mat-icon>
                        <div>{{ lesson.lessonEvent }}</div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #timetableSpinner><div class="spinner-wrapper"><div *showSpinner="true"></div></div></ng-template>
    </div>
    <div class="part">
        <div class="header" style="cursor: default;">
            <mat-icon>list</mat-icon>
            <h2>{{ 'classlist.classlist' | translate }}</h2>
        </div>
        <div *ngIf="classList$ | async as classList; else classlistSpinner">
            <div *ngFor="let classlistItem of classList">
                <div class="entry class-list" (click)="navigate(classlistItem.navigate)">
                    <div class="class-list-classname">
                        <div><b>{{ classlistItem.className }}</b> - {{ classlistItem.classTeacher }}</div>
                    </div>
                    <div class="hidden details">
                        <div>{{ 'classlist.teachers' | translate }}: {{ formatArray(classlistItem.teachers) }}</div>
                        <div>{{ 'classlist.students' | translate }}: {{ formatArray(classlistItem.students) }}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="isEmpty(classList)" class="entry empty">{{ 'framework.noData' | translate }}</div>
        </div>
        <ng-template #classlistSpinner><div class="spinner-wrapper"><div *showSpinner="true"></div></div></ng-template>
    </div>
    <div class="part">
        <div class="header" (click)="navigateGrades()">
            <mat-icon>grade</mat-icon>
            <h2>{{ 'grades.grades' | translate }}</h2>
        </div>
        <div *ngIf="grades$ | async as grades; else gradesSpinner">
            <div *ngFor="let grade of grades">
                <div class="entry grade">
                    <div class="grade-title">
                        <div class="bold pointer center">{{ grade.mark }} - {{ grade.name }}</div>
                    </div>
                    <div class="hidden details">
                        <div>{{ 'grades.subject' | translate }}: {{ grade.subject }}</div>
                        <div>{{ 'grades.class' | translate }}: {{ grade.class }}</div>
                        <div>{{ 'grades.date' | translate }}: {{ grade.date | date: 'dd.MM.yyyy' }}</div>
                        <div>{{ 'grades.description' | translate }}: {{ grade.description }}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="isEmpty(grades)" class="entry empty">{{ 'framework.noData' | translate }}</div>
        </div>
        <ng-template #gradesSpinner><div class="spinner-wrapper"><div *showSpinner="true"></div></div></ng-template>
    </div>
    <div class="part">
        <div class="header" (click)="navigateAbsences()">
            <mat-icon>not_interested</mat-icon>
            <h2>{{ 'absences.absences' | translate }}</h2>
        </div>
        <div *ngIf="absences$ | async as absences; else absencesSpinner">
            <div *ngFor="let absence of absences">
                <div class="entry absence">
                    <div class="absence-title">
                        <div *ngIf="isDifferentDays(absence.from, absence.to); else sameDay" class="bold pointer center">{{ absence.from | date: 'dd.MM.yyyy' }} - {{ absence.to | date: 'dd.MM.yyyy' }}: {{ absence.title }}</div>
                        <ng-template #sameDay>
                            <div class="bold pointer center">{{ absence.from | date: 'dd.MM.yyyy' }} {{ absence.from | date: 'HH:mm' }} - {{ absence.to | date: 'HH:mm' }}: {{ absence.title }}</div>
                        </ng-template>
                    </div>
                    <div class="hidden details">
                        <div>{{ 'absences.description' | translate }}: {{ absence.description }}</div>
                        <div>{{ 'absences.absenceType' | translate }}: {{ ('UserEventType.' + absence.type) | translate }}</div>
                        <div>{{ 'absences.absenceState' | translate }}: {{ ('UserEventState.' + absence.state) | translate }}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="isEmpty(absences)" class="entry empty">{{ 'framework.noData' | translate }}</div>
        </div>
        <ng-template #absencesSpinner><div class="spinner-wrapper"><div *showSpinner="true"></div></div></ng-template>
    </div>
    <div class="part">
        <div class="header" style="cursor: default;">
            <mat-icon>chat</mat-icon>
            <h2>{{ 'chat.chat' | translate }}</h2>
        </div>
        <div *ngIf="chat$ | async as chats; else chatSpinner">
            <div *ngFor="let chat of chats" class="chat-dashboard-detail entry" (click)="navigate(chat.navigate)">
                <app-image *ngIf="getProfileImage(chat.members); else groupImage" [round]="true" [size]="48" [imageId]="getProfileImage(chat.members) ?? ''"></app-image>
                <ng-template #groupImage>
                    <mat-icon [style]="{'font-size': '40px', 'margin-left': '4px' }" class="chat-image">group</mat-icon>
                </ng-template>
                <div class="chat-middle-section">
                    <div>
                        <div class="chat-title">{{ chat.chatName }}</div>
                        <div *ngIf="chat.chatType === 'group'; else privateChat" class="chat-last-msg">
                            {{ chat.lastMessageFrom ?? ('chat.you' | translate) }}: <i>{{ chat.lastMessage }}</i>
                        </div>
                        <ng-template #privateChat>
                            <div class="chat-last-msg">
                                {{ chat.lastMessageFrom === null ? ('chat.you' | translate) + ': ' : '' }}<i>{{ chat.lastMessage }}</i>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="chat-last-msg-date">
                    {{ isToday(chat.lastMessageDate) ? (chat.lastMessageDate | date: 'HH:mm') : (chat.lastMessageDate | date: 'dd.MM.yyyy') }}
                </div>
            </div>
            <div *ngIf="isEmpty(chats)" class="entry empty">{{ 'framework.noData' | translate }}</div>
        </div>
        <ng-template #chatSpinner><div class="spinner-wrapper"><div *showSpinner="true"></div></div></ng-template>
    </div>
</div>
