.page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;

    .part {
        display: grid;
        height: 400px;
        border-radius: 5px;
        transition: 250ms all ease-out;
        overflow: hidden;
        background-color: var(--teachu-base-1);

        .header {
            height: 32px;
            display: flex;
            gap: 16px;
            padding: 16px;
            transition: 300ms ease-out;

            background-color: var(--teachu-primary-4);
            color: var(--teachu-base-0);
            mat-icon {
                margin-top: 4px;
            }
        }
        .header:hover{
            cursor: pointer;
        }

        >:last-child.spinner-wrapper {
            height: 300px;
            padding: 16px;
        }
        >:last-child:not(.spinner-wrapper) {
            overflow-y: auto;
            margin-right: 4px;
            padding: 20px;
            height: 332px;
        }
        .spinner-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .entry {
            font-size: 16px;
            height: 64px;
            padding: 20px;
            border-radius: 5px;
            outline: 5px solid transparent;
            display: flex;
            align-items: center;
            transition: 200ms ease-in-out;
        }
        .entry:hover, .entry:active {
            background-color: var(--teachu-base-2);

            .hidden{
                max-height: 150px;
            }
        }
        .entry.empty {
            border: 1px dashed var(--teachu-secondary-1);
            cursor: default;
        }
        .entry.class-list {
            cursor: pointer;
            display: grid;
            grid-template-columns: 1fr;
            height: auto;
            .class-list-classname {
                display: grid;
                grid-template-columns: 1fr 40px;
                >div {
                    padding-top: 8px;
                }
            }
        }
        .entry.school-info {
            cursor: default;
            display: grid;
            grid-template-columns: 1fr;
            height: auto;
            .title-bar-content {
                display: grid;
                grid-template-columns: 33% 33% 33%;
                justify-items: center;
                gap: 16px;
            }
            .icons {
                display: flex;
                gap: 8px;
                align-items: center;
            }
        }
        .entry.timetable {
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
            gap: 4px;
            .event-info {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }
        .entry.timetable-lesson,
        .entry.grade,
        .entry.absence {
            cursor: default;
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
        }
        .timetable-lesson-title-bar,
        .grade-title,
        .absence-title {
            display: grid;
            grid-template-columns: 1fr 40px;
            gap: 16px;
            width: 100%;
        }
        .chat-dashboard-detail {
            cursor: pointer;
            display: grid;
            grid-template-columns: 48px 1fr auto;
            margin-top: 8px;
            margin-bottom: 8px;
            gap: 8px;
            height: auto;
            .chat-image {
                border-radius: 50%;
                width: 48px;
                height: 48px;
                object-fit: cover;
            }
            .chat-middle-section {
                display: flex;
                align-items: center;
                .chat-title {
                    font-size: 16px;
                    font-weight: bold;
                }
            }
            .chat-last-msg-date {
                margin: auto;
            }
        }
    }

    .part:hover{
        transform: scale(1.05);

        .header{
            background-color: var(--teachu-primary-3);
        }
    }

    @media screen and (max-width: 1400px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}

.hidden {
    max-height: 0;
    transition: 400ms ease-out;
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

.center {
    display: flex;
    align-items: center;
}

.details {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
}
