.page {
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(300px, 100%, 400px));
    gap: 32px;
    max-width: 1500px;
    justify-content: center;
    .part {
        display: grid;
        grid-template-columns: clamp(300px, 100%, 400px);
        height: 400px;
        border-radius: 20px;
        transition: 200ms ease-out;

        .header {
            height: 32px;
            display: flex;
            gap: 16px;
            padding: 16px;
            transition: 300ms ease-out;

            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            max-width: clamp(300px, 100%, 400px);
            background-color: var(--teachu-primary-brightest);
            color: var(--teachu-black);
            mat-icon {
                margin-top: 4px;
            }
        }
        .header:hover{
            cursor: pointer;
        }

        >:last-child.spinner-wrapper {
            height: 300px;
            padding: 16px;
        }
        >:last-child:not(.spinner-wrapper) {
            overflow-y: auto;
            margin-right: 4px;
            padding: 0;
            height: 332px;
        }
        .spinner-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .entry {
            font-size: 16px;
            height: 64px;
            padding: 8px;
            margin: 8px;
            border-radius: 8px;
            outline: 5px solid transparent;
            display: flex;
            align-items: center;
            transition: 200ms ease-in-out;
        }
        .entry:hover, .entry:active {
            background-color: var(--teachu-secondary);

            .hidden{
                max-height: 150px;
            }
        }
        .entry.empty {
            border: 1px dashed var(--teachu-accent);
            cursor: default;
        }
        .entry.class-list {
            cursor: pointer;
            display: grid;
            grid-template-columns: 1fr;
            height: auto;
            .class-list-classname {
                display: grid;
                grid-template-columns: 1fr 40px;
                >div {
                    padding-top: 8px;
                }
            }
        }
        .entry.school-info {
            cursor: default;
            display: grid;
            grid-template-columns: 1fr;
            height: auto;
            .title-bar-content {
                display: grid;
                grid-template-columns: 33% 33% 33%;
                justify-items: center;
                gap: 16px;
            }
            .icons {
                display: flex;
                gap: 8px;
                align-items: center;
            }
        }
        .entry.timetable {
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
            gap: 4px;
            .event-info {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }
        .entry.timetable-lesson,
        .entry.grade,
        .entry.absence {
            cursor: default;
            height: auto;
            display: grid;
            grid-template-columns: 1fr;   
        }
        .timetable-lesson-title-bar,
        .grade-title,
        .absence-title {
            display: grid;
            grid-template-columns: 1fr 40px;
            gap: 16px;
            width: 100%;
        }
        .chat-dashboard-detail {
            cursor: pointer;
            display: grid;
            grid-template-columns: 48px 1fr auto;
            margin-top: 8px;
            margin-bottom: 8px;
            gap: 8px;
            height: auto;
            .chat-image {
                border-radius: 50%;
                width: 48px;
                height: 48px;
                object-fit: cover;
            }
            .chat-middle-section {
                display: flex;
                align-items: center;
                .chat-title {
                    font-size: 16px;
                    font-weight: bold;
                }
            }
            .chat-last-msg-date {
                margin: auto;
            }
        }
    }

    .part:hover{
        background-color: var(--teachu-primary-brightest);
        filter: drop-shadow(0 12px 10px var(--teachu-primary-brightest));

        .header{
            color: var(--teachu-white);
            background-color: var(--teachu-primary);
        }
    }
}

.hidden {
    max-height: 0;
    transition: 400ms ease-out;
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

.center {
    display: flex;
    align-items: center;
}

.details {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
}