@import 'src/styles/colors';

.title {
    padding: 30px 0;

    display: flex;
    flex-flow: row wrap;
    gap: 25px;
    align-items: center;
    justify-content: start;

    width: 100%;
}

.input-text {
    width: 100%;
    height: auto;
    min-height: 50px;
    max-height: 150px;
}

.absence-editor-time{
    display: flex;
    gap: 15px;
    flex-flow: row;
    flex-wrap: wrap;
}

.absence-editor-error {
    color: var(--teachu-error-0);
}

.absence-editor-controls{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 20px;
}
