@import 'src/styles/colors';

.text-badge {
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;

    display: flex;
    gap: 10px;
    align-items: center;

    width: max-content;
    height: max-content;

    cursor: default;
}

.teachu-color-primary {
    background-color: var(--teachu-primary);
    color: var(--teachu-white);
}

.teachu-color-accent {
    background-color: var(--teachu-accent);
    color: var(--teachu-primary);
}

.teachu-color-secondary {
    background-color: var(--teachu-secondary);
    color: var(--teachu-white);
}

.teachu-color-warn {
    background-color: var(--teachu-warn);
    color: var(--teachu-white);
}