@import 'src/styles/colors';

.text-badge {
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;

    display: flex;
    gap: 10px;
    align-items: center;

    width: max-content;
    height: max-content;

    cursor: default;
}

.teachu-color-primary {
    background-color: var(--teachu-primary-4);
    color: var(--teachu-base-0);
}

.teachu-color-accent {
    background-color: var(--teachu-secondary-1);
    color: var(--teachu-base-5);
}

.teachu-color-secondary {
    background-color: var(--teachu-primary-1);
    color: var(--teachu-base-5);
}

.teachu-color-warn {
    background-color: var(--teachu-error-0);
    color: var(--teachu-base-0);
}
