@import 'src/styles.scss';

.recent-exams-container{
    width: inherit;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;

    box-sizing: border-box;

    .recent-exam-list {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(auto-fill, min(200px));
        grid-auto-flow: column;
        grid-auto-columns: min(200px);
        gap: 10px;

        box-sizing: border-box;
        overflow-x: auto;

        .recent-exam{
            transition: background-color 300ms ease;
            cursor: pointer;

            padding: 20px;

            display: grid;
            grid-template-rows: 50% 50%;
            grid-template-columns: 100%;

            background-color: var(--teachu-grey);
            border-radius: 10px;

            .text-container {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;

                .exam-title {
                    color: var(--teachu-black);
                    width: calc(100% - 40px);
                    font-size: 20px;
                }

                .exam-grade {
                    color: var(--teachu-primary);
                    width: 40px;
                    font-weight: bold;
                    text-align: center;
                    font-size: 25px
                }

                .exam-date {
                    color: var(--teachu-primary);
                    font-style: italic;
                }
            }
        }

        .recent-exam:hover {
            background-color: var(--teachu-accent-hover);
        }

        .recent-exam:active {
            background-color: var(--teachu-accent-click);
        }
    }
}
