<div *ngIf="chat$ | async as chat">
    <div (click)="openInfo()" class="chat-info">
        <img [src]="chat.profileImagePath" class="chat-image">
        <div class="chat-title">
            {{ chat.groupName }}
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="messages">
        <div *ngFor="let message of chat.messages" class="message-wrapper">
            <div *ngIf="message.isInfoMessage; else nonInfoMessage" class="message message-info">
                <div>{{ translateInfoMessage(message.message).value }} {{ translateInfoMessage(message.message).key | translate }}</div>
            </div>
            <ng-template #nonInfoMessage>
                <div [ngClass]="{ 'message': true, 'message-self': message.sentByMe, 'message-non-self': !message.sentByMe }">
                    <div *ngIf="!message.sentByMe" class="message-sender">{{ message.userName }}</div>
                    <mat-divider *ngIf="!message.sentByMe"></mat-divider>
                    <div>{{ message.message }}</div>
                    <mat-divider></mat-divider>
                    <div class="message-dateSent">{{ isToday(message.date) ? (message.date | date:'HH:mm') : (message.date | date:'dd.MM.yyyy HH:mm') }}</div>
                </div>
            </ng-template>
        </div>
    </div>
    <mat-divider></mat-divider>
    <form class="new-message">
        <mat-form-field>
            <mat-label>{{ 'group.message' | translate }}</mat-label>
            <textarea matInput [formControl]="newMessageControl"></textarea>
        </mat-form-field>
        <div class="wrapper">
            <button mat-icon-button (click)="sendMessage()" [disabled]="!newMessageControl.value">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </form>
</div>
