.chat-info {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    .chat-image {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        object-fit: cover;
    }
    .chat-title {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
    }
}
.messages {
    margin-top: 8px;
    margin-bottom: 8px;
    max-height: calc(100vh - 280px);
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    width: 400px;
    padding-left: 8px;
    padding-right: 8px;
    .message-wrapper {
        display: flex;
        .message {
            display: inline-block;
            border-radius: 4px;
            padding: 2px;
            padding-left: 4px;
            padding-right: 4px;
            margin-top: 4px;
            max-width: 350px;
            word-break: break-all;
        }
        .message.message-non-self {
            background-color: var(--teachu-accent);
        }
        .message.message-self {
            margin-left: auto;
            background-color: var(--teachu-primary);
        }
        .message.message-info {
            margin: 0 auto;
            margin-top: 4px;
            background-color: var(--teachu-grey-dark);
        }
        .message-dateSent,
        .message-sender {
            margin-top: -2px;
            margin-bottom: -2px;
            font-size: 10px;
            text-align: right;
        }
        .message-sender {
            text-align: left;
        }
    }
}
.new-message {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr 48px;
    .wrapper {
        display: flex;
        align-items: center;
    }
}