<form class="change-password-container" [formGroup]="formGroup">
    <mat-form-field>
        <mat-label>{{ "userSettings.email" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.email' | translate" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ "userSettings.passwordOld" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.passwordOld' | translate" type="password" formControlName="oldPassword">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ "userSettings.passwordNew" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.passwordNew' | translate" type="password" formControlName="newPassword">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ "userSettings.passwordConfirm" | translate}}</mat-label>
        <input matInput [placeholder]="'userSettings.passwordConfirm' | translate" type="password" formControlName="passwordConfirm">
    </mat-form-field>
    <span class="error-message" *ngIf="!!errorMessage">{{errorMessage | translate}}</span>
    <button class="change-password-button" mat-raised-button [disabled]="!formGroup.valid" (click)="save()">{{ 'framework.save' | translate }}</button>
</form>
