@import 'src/styles.scss';

.change-password-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;

    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }

    .error-message{
        display: block;
        max-width: 180px;

        font-size: 13px;
        color: var(--teachu-warn);
        text-align: center;
    }
}